@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.woff2') format('woff2'),
    url('../fonts/HelveticaNeue.woff') format('woff'),
    url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tg5hwn');
  src:  url('../fonts/icomoon.eot?tg5hwn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tg5hwn') format('truetype'),
    url('../fonts/icomoon.woff?tg5hwn') format('woff'),
    url('../fonts/icomoon.svg?tg5hwn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-phone:before {
  content: "\f095";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-cubes:before {
  content: "\f1b3";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
